@{
    ViewBag.Title = "Home Page";
}

<div id="section1" class="container-fluid">
    @Html.Partial("_Section1")
</div>
<div id="section2" class="container-fluid">
    @Html.Partial("_myWork")
</div>
<div id="section3" class="container-fluid">
  @Html.Partial("_myContact")
</div>


<div class="row">
    <blockquote class="blockquote-reverse">
        <p>A smooth sea never made a skilled sailor.</p>
        <footer><cite title="Source Title">Franklin D. Roosevelt</cite></footer>
    </blockquote>
</div>