<div class="section1">
    <div class="jumbotron">
        <div class="details">
            <div class="row">
                Thuc Huyen
            </div>
            <div class="row">
                .NET developer
            </div>
        </div>
        <img class="mainPic" src="@Url.Content("~/Content/Images/YcH9dp.jpg")" />
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Expertise</h2>
            <p>
                I am confident on both front-end and back-end for web developing.
                I have strong knowledge toward MVC framework, especially ASP.NET MVC, and Entity Framework.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Education</h2>
            <p>
                I am currently pursuing my first Bachelor degree at Univeristy of California, Irvine.
                My major is Computer Science.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Career goal</h2>
            <p>
                When I graduate on June 2017, I am looking for a full-time job as a .NET developer.
            </p>

        </div>
    </div>
</div>
